*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Manrope', sans-serif;
}

:root{
  --Full-Slider-Bar: hsl(174, 77%, 80%);
  --Slider-Backround: hsl(174, 86%, 45%);
  --Discount-Background: hsl(14, 92%, 95%);
  --Discount-Text: hsl(15, 100%, 70%);
  --CTA-Text: hsl(226, 100%, 87%);

  --Pricing-Component-Background: hsl (0, 0%, 100%);
  --Main-Background: hsl(230, 100%, 99%);
  --Empty-Slider-Bar: hsl(224, 65%, 95%);
  --Toggle-Background: hsl(223, 50%, 87%);
  --Text: hsl(225, 20%, 60%);
  --Text-CTA-Background: hsl(227, 35%, 25%);
}

header{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
}

header h1{
  font-weight: 800;
  color: var(--Text-CTA-Background);
}

header p{
  text-align: center;
  line-height: 20px;
  padding: 10px;
  color: var(--Text);
}

h3{
  color: var(--Text);
  font-size: 15px;
}

p{
  color: var(--Text);
}

.discount{
  color: black;
}

#valor{
  display: flex;
  justify-content: center;
  align-items: center;
}

#valor h1{
  font-size: 40px;
  padding: 20px 10px;
  color: var(--Text-CTA-Background);
  font-weight: 800;

}

#valor p{
  color: var(--Text);
}

#rangeInput{
  margin: 30px;
}

#select{
  display: flex;
  justify-content: center;
}

#select p{
  padding: 10px 15px;
}

#seletor{
  background-color: var(--Toggle-Background);
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 8px;
  width: 60px;
  height: 26px;
  transform: scale(.8);
  border-radius: 12px;
}

label{
  cursor: pointer;
  padding: 0 4px;
}

.ball{
  background-color: var(--Empty-Slider-Bar);
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 5px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

#radios{
  opacity: 0;
}

#infos{
  padding: 50px;
}

#infos p{
  padding: 10px;
}

button{
  padding: 10px 50px;  
  border-radius: 30px;
  border: none;
  background-color: var(--Text-CTA-Background);
  color:var(--CTA-Text) ;
}

button:hover{
  cursor: pointer;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
  margin: 30px;
}
.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.texM{
  text-decoration: underline;
}


@media(max-width:768px){
  .discount{
    display: none;
  }
}

@media(min-width:800px){

  #info{
    display: grid;
    grid-template-areas: 
    'A B';
  }

 
  #infos{
    grid-area: A;
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  #infos p{
    place-items: right;
  }
  #button{
    grid-area: B;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  
}